[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
djangorestframework = "*"
django-cors-headers = "*"
mysqlclient = "*"
python-dotenv = "*"
dj-rest-auth = "*"

[dev-packages]

[requires]
python_version = "3.9"
