@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

/* global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  height: 120vh;
}

hr {
  margin: 12px 14px;
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.623);
}

button {
}

.container {
  max-width: none;
  margin: 0px auto;
  padding: 12px;
  overflow: auto;
}
.flex {
  display: flex;
}
.space-between {
  justify-content: space-between;
}

/* Nav.jsx */
.nav-group {
  margin: 12px 0;
}

.nav-icon {
  width: 2.5rem;
  height: auto;
  cursor: pointer;
}

.nav-bar {
  padding: 12px;
  background: #ffffff;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.12);
  border-radius: 33px;
  position: fixed;
}

/* todo transition: ease backgrpound while scroll down */
.inactive {
  width: auto;
  height: auto;
}

/* todo transsition: expand amination */
.active {
  min-width: 300px;
  height: auto;
}

.profile {
  width: 4rem;
  height: auto;
  cursor: pointer;
  display: inline-block;
  margin: 0 0 0 auto;
}

/* Total Subs */
/* todo total-subs expand animation  */
.total-subs {
  transition: 0.3s;
  background: linear-gradient(94.21deg, #cedefc 3.03%, #dee9fd 117.94%);
  border-radius: 18px;
}

.total,
.detail {
  padding: 14px 16px;
}

.textarea > .f3 {
  font-size: 1rem;
}

.textarea > .f5 {
  font-size: 1.3rem;
}

.textarea > .f2 {
  font-size: 0.8rem;
}

.textarea > .bold {
  font-weight: 800;
}

.textarea > .gray {
  color: #696969;
}

.rotate {
  width: 3rem;
  height: auto;
  margin: 0 12px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.rotate.down {
  transform: rotate(180deg);
}


/* Sub.jsx */
.sub-item {
  margin: 12px 0;
  padding: 10px;
  background: #ffffff;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.12);
  border-radius: 17px;
}

.sub-icon {
  width: 2.5rem;
  height: auto;
}

.sub-icon-background {
  padding: 5px;
  background: #ffffff;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
}

.sub-time-left-icon-background {
  padding: 5px;
}

.sub-item .textarea {
  text-align: center;
}